In [1]:
# import pandas
import pandas as pd
# read vehicles data
df = pd.read_csv('csv/vehicles2.csv', sep=',')
# quick analysis
df.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

In [6]:
df.describe()

,Year,Engine Displacement,Cylinders,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
count,35952.00000,35952.000000,35952.000000,35952.000000,35952.000000,35952.000000,35952.000000,35952.000000,35952.000000
mean,2000.71640,3.338493,5.765076,17.609056,17.646139,23.880646,19.929322,475.316339,1892.598465
std,10.08529,1.359395,1.755268,4.467283,4.769349,5.890876,5.112409,119.060773,506.958627
min,1984.00000,0.600000,2.000000,0.060000,6.000000,9.000000,7.000000,37.000000,600.000000
25%,1991.00000,2.200000,4.000000,14.699423,15.000000,20.000000,16.000000,395.000000,1500.000000
50%,2001.00000,3.000000,6.000000,17.347895,17.000000,24.000000,19.000000,467.736842,1850.000000
75%,2010.00000,4.300000,6.000000,20.600625,20.000000,27.000000,23.000000,555.437500,2200.000000
max,2017.00000,8.400000,16.000000,47.087143,58.000000,61.000000,56.000000,1269.571429,5800.000000

# Data Manipulation - Group By

- `.groupby()` é uma forma de **agregar** todos os resultados para cada chave única
- Sempre que você faz uma **agregação**, o resultado final terá 1 linha para cada valor pelo qual você agregou, portanto, é obrigatório que se aplique uma função agregadora para que todos os valores sejam sumarizados em um único valor associado àquela chave.

Por exemplo, se tivermos:

Fruta | Quantidade
-----|----:
Laranja | 10
Maçã | 10
Abacate | 2
Abacate | 1
Melancia  | 1
Laranja  | 4

O resultado de um `.groupby` por 'Fruta' resultaria em 4 linhas

Fruta | Função Agregadora
----|-----
Laranja | ?
Maçã | ?
Abacate | ?
Melancia | ?

O asterisco representa o valor agregado. Temos, obrigatoriamente, que sumarizar os dados relacionados àquele registro em um único dado. Para isso, podemos fazer a média, soma, contagem, ou qualquer outra função agregadora.

Fruta | soma(Quantidade)
----|----:
Laranja | 14
Maçã | 10
Abacate | 3
Melancia | 1

**Funções agregadora/Métodos**

- `.mean()`
- `.median()`
- `.max()`
- `.min()`
- `.sum()`
- `.count()`
- `.describe()`
- `.agg()`
- A function you want

## One aggregation

Key with one value and one aggregation method

In [9]:
# Your code here!
df['Fuel Type'].value_counts(normalize=True)

Regular                        0.656069
Premium                        0.275951
Gasoline or E85                0.033239
Diesel                         0.025339
Premium or E85                 0.003366
Midgrade                       0.002058
CNG                            0.001669
Premium and Electricity        0.000556
Gasoline or natural gas        0.000556
Premium Gas or Electricity     0.000473
Regular Gas and Electricity    0.000445
Gasoline or propane            0.000223
Regular Gas or Electricity     0.000056
Name: Fuel Type, dtype: float64

In [10]:
df.groupby('Fuel Type').size().sort_values(ascending=False)

Fuel Type
Regular                        23587
Premium                         9921
Gasoline or E85                 1195
Diesel                           911
Premium or E85                   121
Midgrade                          74
CNG                               60
Gasoline or natural gas           20
Premium and Electricity           20
Premium Gas or Electricity        17
Regular Gas and Electricity       16
Gasoline or propane                8
Regular Gas or Electricity         2
dtype: int64

In [22]:
df.groupby('Fuel Type')['CO2 Emission Grams/Mile'].mean().sort_values(ascending=False)

Fuel Type
Gasoline or propane            666.525000
Gasoline or natural gas        638.967778
Gasoline or E85                527.444383
Midgrade                       516.911921
Premium                        481.159270
Regular                        470.907242
Diesel                         470.905819
Premium or E85                 460.462355
CNG                            454.976354
Premium and Electricity        239.450000
Regular Gas and Electricity    125.687500
Premium Gas or Electricity     125.411765
Regular Gas or Electricity      51.000000
Name: CO2 Emission Grams/Mile, dtype: float64

## More than one aggregation

Key with one or more values and one or more aggregation methods

In [23]:
# Your code here!
df.groupby(['Fuel Type', 'Transmission'])['CO2 Emission Grams/Mile'].mean().sort_values(ascending=False)

Fuel Type                   Transmission
Premium                     Automatic (A6)                      807.909091
Gasoline or natural gas     Automatic 4-spd                     676.553001
Gasoline or propane         Automatic 4-spd                     666.525000
Premium or E85              Automatic (S6)                      643.748521
Regular                     Manual 5 spd                        634.785714
                                                                   ...
Premium Gas or Electricity  Automatic (variable gear ratios)     88.571429
                            Auto (AV)                            85.500000
                            Automatic (A1)                       82.000000
Regular Gas or Electricity  Automatic (variable gear ratios)     51.000000
Premium Gas or Electricity  Auto(A1)                             40.000000
Name: CO2 Emission Grams/Mile, Length: 120, dtype: float64

In [26]:
df.groupby(['Fuel Type', 'Transmission'])[['CO2 Emission Grams/Mile', 'Fuel Cost/Year']].mean()

                                                              CO2 Emission Grams/Mile  \
Fuel Type                   Transmission
CNG                         Automatic (variable gear ratios)               253.197321
                            Automatic 4-spd                                525.127030
                            Automatic 5-spd                                240.187828
Diesel                      Auto(AM-S6)                                    299.600000
                            Automatic (S5)                                 339.547559
...                                                                               ...
Regular                     Manual 5-spd                                   433.339097
                            Manual 6-spd                                   404.948232
Regular Gas and Electricity Auto(AM6)                                      102.500000
                            Automatic (variable gear ratios)               129.000000
Regular Gas or Electricity  Automatic (variable gear ratios)                51.000000

                                                              Fuel Cost/Year
Fuel Type                   Transmission
CNG                         Automatic (variable gear ratios)     1100.000000
                            Automatic 4-spd                      2247.777778
                            Automatic 5-spd                      1060.000000
Diesel                      Auto(AM-S6)                          1067.500000
                            Automatic (S5)                       1222.727273
...                                                                      ...
Regular                     Manual 5-spd                         1627.087272
                            Manual 6-spd                         1521.040724
Regular Gas and Electricity Auto(AM6)                             850.000000
                            Automatic (variable gear ratios)      807.142857
Regular Gas or Electricity  Automatic (variable gear ratios)      800.000000

[120 rows x 2 columns]

In [61]:
%%time
df_agg = df[df['Fuel Type']=='CNG']\
    .groupby(['Transmission'])\
    .agg({'CO2 Emission Grams/Mile': ['mean', 'median'], 'Fuel Cost/Year': ['min', 'max'] })\
    .head()

Wall time: 8 ms

In [62]:
df_agg

                                 CO2 Emission Grams/Mile              \
                                                    mean      median
Transmission
Automatic (variable gear ratios)              253.197321  253.197321
Automatic 4-spd                               525.127030  545.348077
Automatic 5-spd                               240.187828  253.197321

                                 Fuel Cost/Year
                                            min   max
Transmission
Automatic (variable gear ratios)           1100  1100
Automatic 4-spd                            1100  3350
Automatic 5-spd                            1000  1100

In [63]:
df_agg[('CO2 Emission Grams/Mile')]

                                        mean      median
Transmission
Automatic (variable gear ratios)  253.197321  253.197321
Automatic 4-spd                   525.127030  545.348077
Automatic 5-spd                   240.187828  253.197321

In [64]:
df_agg[('CO2 Emission Grams/Mile', 'mean')]

Transmission
Automatic (variable gear ratios)    253.197321
Automatic 4-spd                     525.127030
Automatic 5-spd                     240.187828
Name: (CO2 Emission Grams/Mile, mean), dtype: float64

## Named aggregation

In [65]:
# Your code here!
df_agg = df[df['Fuel Type']=='CNG']\
    .groupby(['Transmission'])\
    .agg(co2_mean = ('CO2 Emission Grams/Mile', 'mean'),
         co2_median = ('CO2 Emission Grams/Mile', 'median')
        )
df_agg

                                    co2_mean  co2_median
Transmission
Automatic (variable gear ratios)  253.197321  253.197321
Automatic 4-spd                   525.127030  545.348077
Automatic 5-spd                   240.187828  253.197321

In [66]:
df_agg.co2_mean

Transmission
Automatic (variable gear ratios)    253.197321
Automatic 4-spd                     525.127030
Automatic 5-spd                     240.187828
Name: co2_mean, dtype: float64

## Bonus: Iterating over groups

In [69]:
# Your code here!
for name, group in df.groupby('Fuel Type'):
    print(name, len(group))

CNG 60
Diesel 911
Gasoline or E85 1195
Gasoline or natural gas 20
Gasoline or propane 8
Midgrade 74
Premium 9921
Premium Gas or Electricity 17
Premium and Electricity 20
Premium or E85 121
Regular 23587
Regular Gas and Electricity 16
Regular Gas or Electricity 2

In [70]:
df.groupby('Fuel Type').get_group('CNG')

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
5843,Chevrolet,Express Cargo (dedicated CNG),2004,6.0,8.0,Automatic 4-spd,Rear-Wheel Drive,"Vans, Cargo Type",CNG,0.155000,11,15,12,590.793750,2500
5845,Chevrolet,Express Passenger (dedicated CNG),2004,6.0,8.0,Automatic 4-spd,Rear-Wheel Drive,"Vans, Passenger Type",CNG,0.155000,11,15,12,590.793750,2500
7084,Chevrolet,Silverado 2500 HD 2WD CNG,2004,6.0,8.0,Automatic 4-spd,Rear-Wheel Drive,Standard Pickup Trucks 2WD,CNG,0.186000,9,11,10,708.952500,3050
7085,Chevrolet,Silverado 2500 HD 2WD CNG,2005,6.0,8.0,Automatic 4-spd,Rear-Wheel Drive,Standard Pickup Trucks 2WD,CNG,0.206667,8,11,9,787.725000,3350
7086,Chevrolet,Silverado 2500 HD 4WD CNG,2005,6.0,8.0,Automatic 4-spd,4-Wheel or All-Wheel Drive,Standard Pickup Trucks 4WD,CNG,0.206667,8,11,9,787.725000,3350
9164,Dodge,Caravan/Grand Caravan 2WD,1993,3.3,6.0,Automatic 4-spd,Front-Wheel Drive,Special Purpose Vehicle 2WD,CNG,0.109412,15,21,17,417.030882,1800
9171,Dodge,Caravan/Grand Caravan 2WD,1994,3.3,6.0,Automatic 4-spd,Front-Wheel Drive,Special Purpose Vehicle 2WD,CNG,0.109412,15,21,17,417.030882,1800
9178,Dodge,Caravan/Grand Caravan 2WD,1995,3.3,6.0,Automatic 4-spd,Front-Wheel Drive,Special Purpose Vehicle 2WD,CNG,0.109412,15,21,17,417.030882,1800
10649,Dodge,Ram Van 2500 2WD CNG,2001,5.2,8.0,Automatic 4-spd,Rear-Wheel Drive,"Vans, Cargo Type",CNG,0.155000,11,14,12,590.793750,2500
10650,Dodge,Ram Van 2500 2WD CNG,2002,5.2,8.0,Automatic 4-spd,Rear-Wheel Drive,"Vans, Cargo Type",CNG,0.143077,12,14,13,545.348077,2350
10651,Dodge,Ram Van 2500 2WD CNG,2003,5.2,8.0,Automatic 4-spd,Rear-Wheel Drive,"Vans, Cargo Type",CNG,0.143077,10,18,13,545.348077,2350
10658,Dodge,Ram Wagon 2500 2WD CNG,2001,5.2,8.0,Automatic 4-spd,Rear-Wheel Drive,"Vans, Passenger Type",CNG,0.155000,11,15,12,590.793750,2500
10659,Dodge,Ram Wagon 2500 2WD CNG,2002,5.2,8.0,Automatic 4-spd,Rear-Wheel Drive,"Vans, Passenger Type",CNG,0.143077,12,14,13,545.348077,2350
11697,Ford,Crown Victoria CNG,1996,4.6,8.0,Automatic 4-spd,Rear-Wheel Drive,Large Cars,CNG,0.103333,15,24,18,393.862500,1700
11698,Ford,Crown Victoria CNG,1997,4.6,8.0,Automatic 4-spd,Rear-Wheel Drive,Large Cars,CNG,0.103333,15,23,18,393.862500,1700
11699,Ford,Crown Victoria CNG,1999,4.6,8.0,Automatic 4-spd,Rear-Wheel Drive,Large Cars,CNG,0.124000,13,19,15,472.635000,2000
11700,Ford,Crown Victoria CNG,2000,4.6,8.0,Automatic 4-spd,Rear-Wheel Drive,Large Cars,CNG,0.116250,14,21,16,443.095312,1900
11701,Ford,Crown Victoria CNG,2001,4.6,8.0,Automatic 4-spd,Rear-Wheel Drive,Large Cars,CNG,0.116250,14,21,16,443.095312,1900
11702,Ford,Crown Victoria CNG,2002,4.6,8.0,Automatic 4-spd,Rear-Wheel Drive,Large Cars,CNG,0.116250,14,20,16,443.095312,1900
11703,Ford,Crown Victoria CNG,2003,4.6,8.0,Automatic 4-spd,Rear-Wheel Drive,Large Cars,CNG,0.132857,12,17,14,506.394643,2150
11704,Ford,Crown Victoria CNG,2004,4.6,8.0,Automatic 4-spd,Rear-Wheel Drive,Large Cars,CNG,0.132857,12,17,14,506.394643,2150
11925,Ford,E250 CNG,2001,5.4,8.0,Automatic 4-spd,Rear-Wheel Drive,"Vans, Cargo Type",CNG,0.155000,11,14,12,590.793750,2500
11995,Ford,E250 Econoline 2WD CNG,1998,5.4,8.0,Automatic 4-spd,Rear-Wheel Drive,"Vans, Cargo Type",CNG,0.169091,10,13,11,644.502273,2750
11996,Ford,E250 Econoline 2WD CNG,1999,5.4,8.0,Automatic 4-spd,Rear-Wheel Drive,"Vans, Cargo Type",CNG,0.155000,10,14,12,590.793750,2500
11997,Ford,E250 Econoline 2WD CNG,2000,5.4,8.0,Automatic 4-spd,Rear-Wheel Drive,"Vans, Cargo Type",CNG,0.155000,11,14,12,590.793750,2500
12572,Ford,F150 CNG,2001,5.4,8.0,Automatic 4-spd,Rear-Wheel Drive,Standard Pickup Trucks 2WD,CNG,0.143077,11,15,13,545.348077,2350
12573,Ford,F150 CNG,2002,5.4,8.0,Automatic 4-spd,Rear-Wheel Drive,Standard Pickup Trucks 2WD,CNG,0.155000,11,15,12,590.793750,2500
12574,Ford,F150 CNG,2003,5.4,8.0,Automatic 4-spd,Rear-Wheel Drive,Standard Pickup Trucks 2WD,CNG,0.143077,11,15,13,545.348077,2350
12575,Ford,F150 CNG,2004,5.4,8.0,Automatic 4-spd,Rear-Wheel Drive,Standard Pickup Trucks 2WD,CNG,0.143077,11,15,13,545.348077,2350
12786,Ford,F150 Pickup 2WD CNG,2000,5.4,8.0,Automatic 4-spd,Rear-Wheel Drive,Standard Pickup Trucks 2WD,CNG,0.143077,11,15,13,545.348077,2350
13127,Ford,F250 Pickup 2WD CNG,1998,5.4,8.0,Automatic 4-spd,Rear-Wheel Drive,Standard Pickup Trucks 2WD,CNG,0.169091,10,14,11,644.502273,2750
13128,Ford,F250 Pickup 2WD CNG,1999,5.4,8.0,Automatic 4-spd,Rear-Wheel Drive,Standard Pickup Trucks 2WD,CNG,0.155000,10,14,12,590.793750,2500
15634,GMC,Savana Cargo (dedicated CNG),2004,6.0,8.0,Automatic 4-spd,Rear-Wheel Drive,"Vans, Cargo Type",CNG,0.155000,11,15,12,590.793750,2500
15636,GMC,Savana Passenger (dedicated CNG),2004,6.0,8.0,Automatic 4-spd,Rear-Wheel Drive,"Vans, Passenger Type",CNG,0.155000,11,15,12,590.793750,2500
16038,GMC,Sierra 2500 HD 2WD CNG,2005,6.0,8.0,Automatic 4-spd,Rear-Wheel Drive,Standard Pickup Trucks 2WD,CNG,0.206667,8,11,9,787.725000,3350
16039,GMC,Sierra 2500 HD 4WD CNG,2005,6.0,8.0,Automatic 4-spd,4-Wheel or All-Wheel Drive,Standard Pickup Trucks 4WD,CNG,0.206667,8,11,9,787.725000,3350
17217,Honda,Civic,1999,1.6,4.0,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,CNG,0.068889,24,31,27,262.575000,1100
17286,Honda,Civic CNG,1998,1.6,4.0,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,CNG,0.068889,24,31,27,262.575000,1100
17287,Honda,Civic CNG,2000,1.6,4.0,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,CNG,0.068889,24,31,27,262.575000,1100
17288,Honda,Civic CNG,2001,1.7,4.0,Automatic (variable gear ratios),Front-Wheel Drive,Compact Cars,CNG,0.066429,26,31,28,253.197321,1100
17289,Honda,Civic CNG,2002,1.7,4.0,Automatic (variable gear ratios),Front-Wheel Drive,Compact Cars,CNG,0.066429,26,31,28,253.197321,1100
17290,Honda,Civic CNG,2003,1.7,4.0,Automatic (variable gear ratios),Front-Wheel Drive,Compact Cars,CNG,0.066429,26,31,28,253.197321,1100
17291,Honda,Civic CNG,2004,1.7,4.0,Automatic (variable gear ratios),Front-Wheel Drive,Compact Cars,CNG,0.066429,26,31,28,253.197321,1100
17292,Honda,Civic CNG,2005,1.7,4.0,Automatic (variable gear ratios),Front-Wheel Drive,Compact Cars,CNG,0.066429,26,31,28,253.197321,1100
17293,Honda,Civic CNG,2006,1.8,4.0,Automatic 5-spd,Front-Wheel Drive,Subcompact Cars,CNG,0.066429,24,36,28,253.197321,1100
17294,Honda,Civic CNG,2007,1.8,4.0,Automatic 5-spd,Front-Wheel Drive,Subcompact Cars,CNG,0.066429,24,36,28,253.197321,1100
17295,Honda,Civic CNG,2008,1.8,4.0,Automatic 5-spd,Front-Wheel Drive,Subcompact Cars,CNG,0.066429,24,36,28,253.197321,1100
17296,Honda,Civic CNG,2009,1.8,4.0,Automatic 5-spd,Front-Wheel Drive,Subcompact Cars,CNG,0.066429,24,36,28,253.197321,1100
17297,Honda,Civic CNG,2010,1.8,4.0,Automatic 5-spd,Front-Wheel Drive,Subcompact Cars,CNG,0.066429,24,36,28,253.197321,1100
17298,Honda,Civic CNG,2011,1.8,4.0,Automatic 5-spd,Front-Wheel Drive,Subcompact Cars,CNG,0.066429,24,36,28,253.197321,1100
17395,Honda,Civic Natural Gas,2012,1.8,4.0,Automatic 5-spd,Front-Wheel Drive,Compact Cars,CNG,0.060000,27,38,31,228.694355,1000
17396,Honda,Civic Natural Gas,2013,1.8,4.0,Automatic 5-spd,Front-Wheel Drive,Compact Cars,CNG,0.060000,27,38,31,218.000000,1000
17397,Honda,Civic Natural Gas,2014,1.8,4.0,Automatic 5-spd,Front-Wheel Drive,Compact Cars,CNG,0.060000,27,38,31,218.000000,1000
17398,Honda,Civic Natural Gas,2015,1.8,4.0,Automatic 5-spd,Front-Wheel Drive,Compact Cars,CNG,0.060000,27,38,31,218.000000,1000
26031,Mobility Ventures LLC,MV-1 CNG,2014,4.6,8.0,Automatic 4-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,CNG,0.143077,12,16,13,481.000000,2350
32600,Toyota,Camry CNG,1999,2.2,4.0,Automatic 4-spd,Front-Wheel Drive,Compact Cars,CNG,0.080870,20,28,23,308.240217,1300
32601,Toyota,Camry CNG,2000,2.2,4.0,Automatic 4-spd,Front-Wheel Drive,Compact Cars,CNG,0.084545,19,28,22,322.251136,1400
32602,Toyota,Camry CNG,2001,2.2,4.0,Automatic 4-spd,Front-Wheel Drive,Compact Cars,CNG,0.084545,19,28,22,322.251136,1400
34120,VPG,MV-1 CNG,2011,4.6,8.0,Automatic 4-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,CNG,0.143077,11,16,13,545.348077,2350
34121,VPG,MV-1 CNG,2012,4.6,8.0,Automatic 4-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,CNG,0.143077,11,16,13,545.348077,2350

-----

# Data Manipulation - Joins

* How to merge dataframes based on one or more keys
* Diagramas de Venn
* [Fruits Example](https://docs.google.com/spreadsheets/d/1foV1THfhVc5WduBTMjpxmthAD1BDHS9FUpH-WgGDH5E/edit?usp=sharing)

## Types of Joins

In [2]:
# Your code here!
df1 = pd.read_clipboard()
df1

      Fruta  Quantidade
0       Uva          10
1   Abacate           2
2   Abacate           1
3  Melancia           1
4   Atemoia           3
5   Laranja           4

In [3]:
df2 = pd.read_clipboard()
df2

       Fruta          Cidade
0        Uva        Campinas
1    Abacate        Campinas
2   Melancia         Atibaia
3  Carambola  Rio de Janeiro

In [7]:
pd.merge(left=df1, right=df2, on='Fruta', how='inner')

      Fruta  Quantidade    Cidade
0       Uva          10  Campinas
1   Abacate           2  Campinas
2   Abacate           1  Campinas
3  Melancia           1   Atibaia

In [8]:
pd.merge(left=df1, right=df2, on='Fruta', how='left')

      Fruta  Quantidade    Cidade
0       Uva          10  Campinas
1   Abacate           2  Campinas
2   Abacate           1  Campinas
3  Melancia           1   Atibaia
4   Atemoia           3       NaN
5   Laranja           4       NaN

In [9]:
pd.merge(left=df1, right=df2, on='Fruta', how='right')

       Fruta  Quantidade          Cidade
0        Uva        10.0        Campinas
1    Abacate         2.0        Campinas
2    Abacate         1.0        Campinas
3   Melancia         1.0         Atibaia
4  Carambola         NaN  Rio de Janeiro

In [10]:
pd.merge(left=df1, right=df2, on='Fruta', how='outer')

       Fruta  Quantidade          Cidade
0        Uva        10.0        Campinas
1    Abacate         2.0        Campinas
2    Abacate         1.0        Campinas
3   Melancia         1.0         Atibaia
4    Atemoia         3.0             NaN
5    Laranja         4.0             NaN
6  Carambola         NaN  Rio de Janeiro

## Using our vehicles dataframe

In [20]:
# Your code here!
df_agg_fuel = df.groupby(['Fuel Type'], as_index=False).agg(fuel_cost_per_year_mean = ('Fuel Cost/Year', 'mean'))
df_agg_fuel

                      Fuel Type  fuel_cost_per_year_mean
0                           CNG              1954.166667
1                        Diesel              1673.326015
2               Gasoline or E85              1978.870293
3       Gasoline or natural gas              2410.000000
4           Gasoline or propane              2500.000000
5                      Midgrade              2152.027027
6                       Premium              2198.094950
7    Premium Gas or Electricity              1361.764706
8       Premium and Electricity              1597.500000
9                Premium or E85              2091.322314
10                      Regular              1767.024208
11  Regular Gas and Electricity               812.500000
12   Regular Gas or Electricity               800.000000

In [23]:
pd.merge(df, df_agg_fuel, on='Fuel Type', how = 'inner', validate='m:1')

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year,fuel_cost_per_year_mean
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950,1767.024208
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550,1767.024208
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100,1767.024208
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550,1767.024208
4,Acura,2.2CL/3.0CL,1997,2.2,4.0,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,14.982273,20,26,22,403.954545,1500,1767.024208
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,Ford,F150 Dual-fuel 2WD (LPG),2004,5.4,8.0,Automatic 4-spd,Rear-Wheel Drive,Standard Pickup Trucks 2WD,Gasoline or propane,21.974000,13,18,15,592.466667,2200,2500.000000
35948,Ford,F150 Dual-fuel 4WD (LPG),2001,5.4,8.0,Automatic 4-spd,4-Wheel or All-Wheel Drive,Standard Pickup Trucks 4WD,Gasoline or propane,27.467500,11,15,12,740.583333,2800,2500.000000
35949,Ford,F150 Dual-fuel 4WD (LPG),2002,5.4,8.0,Automatic 4-spd,4-Wheel or All-Wheel Drive,Standard Pickup Trucks 4WD,Gasoline or propane,27.467500,11,15,12,740.583333,2800,2500.000000
35950,Ford,F150 Dual-fuel 4WD (LPG),2003,5.4,8.0,Automatic 4-spd,4-Wheel or All-Wheel Drive,Standard Pickup Trucks 4WD,Gasoline or propane,21.974000,13,18,15,592.466667,2200,2500.000000
35951,Ford,F150 Dual-fuel 4WD (LPG),2004,5.4,8.0,Automatic 4-spd,4-Wheel or All-Wheel Drive,Standard Pickup Trucks 4WD,Gasoline or propane,21.974000,13,18,15,592.466667,2200,2500.000000

## What if we had different names?

In [11]:
# Your code here!
df2.columns = ['FrutaX', 'Cidade']
df2

      FrutaX          Cidade
0        Uva        Campinas
1    Abacate        Campinas
2   Melancia         Atibaia
3  Carambola  Rio de Janeiro

In [12]:
pd.merge(left=df1, right=df2, left_on='Fruta', right_on='FrutaX')

      Fruta  Quantidade    FrutaX    Cidade
0       Uva          10       Uva  Campinas
1   Abacate           2   Abacate  Campinas
2   Abacate           1   Abacate  Campinas
3  Melancia           1  Melancia   Atibaia

In [18]:
pd.merge(left=df1, right=df2, left_on='Fruta', right_on='FrutaX', how='left', validate='m:1')

      Fruta  Quantidade    FrutaX    Cidade
0       Uva          10       Uva  Campinas
1   Abacate           2   Abacate  Campinas
2   Abacate           1   Abacate  Campinas
3  Melancia           1  Melancia   Atibaia
4   Atemoia           3       NaN       NaN
5   Laranja           4       NaN       NaN

## Another way to join values: Using `concat`

In [24]:
# Your code here!
fuel_median = df_agg_fuel.fuel_cost_per_year_mean.median()

In [27]:
low_values = df_agg_fuel[df_agg_fuel.fuel_cost_per_year_mean<fuel_median].copy()
high_values = df_agg_fuel[df_agg_fuel.fuel_cost_per_year_mean>fuel_median].copy()

In [28]:
low_values

                      Fuel Type  fuel_cost_per_year_mean
1                        Diesel              1673.326015
7    Premium Gas or Electricity              1361.764706
8       Premium and Electricity              1597.500000
10                      Regular              1767.024208
11  Regular Gas and Electricity               812.500000
12   Regular Gas or Electricity               800.000000

In [29]:
high_values

                 Fuel Type  fuel_cost_per_year_mean
2          Gasoline or E85              1978.870293
3  Gasoline or natural gas              2410.000000
4      Gasoline or propane              2500.000000
5                 Midgrade              2152.027027
6                  Premium              2198.094950
9           Premium or E85              2091.322314

In [31]:
pd.concat([low_values, high_values]).reset_index(drop=True)

                      Fuel Type  fuel_cost_per_year_mean
0                        Diesel              1673.326015
1    Premium Gas or Electricity              1361.764706
2       Premium and Electricity              1597.500000
3                       Regular              1767.024208
4   Regular Gas and Electricity               812.500000
5    Regular Gas or Electricity               800.000000
6               Gasoline or E85              1978.870293
7       Gasoline or natural gas              2410.000000
8           Gasoline or propane              2500.000000
9                      Midgrade              2152.027027
10                      Premium              2198.094950
11               Premium or E85              2091.322314

In [32]:
pd.concat([low_values, high_values], axis=1)

,Fuel Type,fuel_cost_per_year_mean,Fuel Type,fuel_cost_per_year_mean
1,Diesel,1673.326015,NaN,NaN
2,NaN,NaN,Gasoline or E85,1978.870293
3,NaN,NaN,Gasoline or natural gas,2410.000000
4,NaN,NaN,Gasoline or propane,2500.000000
5,NaN,NaN,Midgrade,2152.027027
6,NaN,NaN,Premium,2198.094950
7,Premium Gas or Electricity,1361.764706,NaN,NaN
8,Premium and Electricity,1597.500000,NaN,NaN
9,NaN,NaN,Premium or E85,2091.322314
10,Regular,1767.024208,NaN,NaN
11,Regular Gas and Electricity,812.500000,NaN,NaN
12,Regular Gas or Electricity,800.000000,NaN,NaN

In [33]:
pd.concat([low_values, high_values], axis=1, join='inner')

Empty DataFrame
Columns: [Fuel Type, fuel_cost_per_year_mean, Fuel Type, fuel_cost_per_year_mean]
Index: []

# Bonus - Bins Concept

![Imgs](https://i.stack.imgur.com/pObHa.png)


### two methods: cut vs qcut

The major distinction is that qcut will calculate the size of each bin in order to make sure the distribution of data in the bins is equal. In other words, all bins will have (roughly) the same number of observations but the bin range will vary.

On the other hand, cut is used to specifically define the bin edges. There is no guarantee about the distribution of items in each bin. In fact, you can define bins in such a way that no items are included in a bin or nearly all items are in a single bin.

In [4]:
# Your code here!
pd.cut(df.Year, bins = 4).value_counts().sort_index()

(1983.967, 1992.25]    10155
(1992.25, 2000.5]       6940
(2000.5, 2008.75]       8575
(2008.75, 2017.0]      10282
Name: Year, dtype: int64

In [5]:
df['year_interval'] = pd.cut(df.Year, bins = 4)
df.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year,year_interval
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950,"(1983.967, 1992.25]"
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550,"(1983.967, 1992.25]"
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100,"(1983.967, 1992.25]"
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550,"(1983.967, 1992.25]"
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550,"(1983.967, 1992.25]"

In [6]:
df.groupby('year_interval')['CO2 Emission Grams/Mile'].mean()

year_interval
(1983.967, 1992.25]    500.662151
(1992.25, 2000.5]      488.265799
(2000.5, 2008.75]      488.195869
(2008.75, 2017.0]      430.801854
Name: CO2 Emission Grams/Mile, dtype: float64

In [7]:
cutoff = [1900, 2000, 2010]
pd.cut(df.Year, cutoff)

0        (1900.0, 2000.0]
1        (1900.0, 2000.0]
2        (1900.0, 2000.0]
3        (1900.0, 2000.0]
4        (1900.0, 2000.0]
               ...
35947                 NaN
35948                 NaN
35949                 NaN
35950                 NaN
35951                 NaN
Name: Year, Length: 35952, dtype: category
Categories (2, interval[int64, right]): [(1900, 2000] < (2000, 2010]]

In [17]:
pd.qcut(df['CO2 Emission Grams/Mile'], q=10).value_counts(normalize=True).sort_index()

(36.999, 341.808]      0.115988
(341.808, 377.037]     0.084057
(377.037, 403.955]     0.105613
(403.955, 434.0]       0.094710
(434.0, 467.737]       0.168836
(467.737, 493.722]     0.099994
(493.722, 522.765]     0.065254
(522.765, 556.0]       0.065643
(556.0, 634.786]       0.122636
(634.786, 1269.571]    0.077270
Name: CO2 Emission Grams/Mile, dtype: float64

# Bonus - Categorical Data Into Columns

>    - dummies
>    - One hot encoding

In [23]:
pd.get_dummies(df.year_interval)

,"(1983.967, 1992.25]","(1992.25, 2000.5]","(2000.5, 2008.75]","(2008.75, 2017.0]"
0,1,0,0,0
1,1,0,0,0
2,1,0,0,0
3,1,0,0,0
4,1,0,0,0
...,...,...,...,...
35947,0,0,0,1
35948,0,0,0,1
35949,0,0,0,1
35950,0,0,0,1
35951,0,0,0,1

In [27]:
# Your code here!
df[['intervalo 1', 'intervalo 2', 'intervalo 3', 'intervalo 4']] = pd.get_dummies(df.year_interval)
df.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year,year_interval,intervalo 1,intervalo 2,intervalo 3,intervalo 4
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950,"(1983.967, 1992.25]",1,0,0,0
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550,"(1983.967, 1992.25]",1,0,0,0
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100,"(1983.967, 1992.25]",1,0,0,0
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550,"(1983.967, 1992.25]",1,0,0,0
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550,"(1983.967, 1992.25]",1,0,0,0